@charset "UTF-8";
@media screen and (min-width: 320px) {
    html {
        font-size: 29.62963px;
    }
}

@media screen and (min-width: 360px) {
    html {
        font-size: 33.33333px;
    }
}

@media screen and (min-width: 375px) {
    html {
        font-size: 34.72222px;
    }
}

@media screen and (min-width: 380px) {
    html {
        font-size: 35.18519px;
    }
}

@media screen and (min-width: 384px) {
    html {
        font-size: 35.55556px;
    }
}

@media screen and (min-width: 412px) {
    html {
        font-size: 38.14815px;
    }
}

@media screen and (min-width: 414px) {
    html {
        font-size: 38.33333px;
    }
}

@media screen and (min-width: 1080px) {
    html {
        font-size: 100px;
    }
}

@media screen and (min-width: 1080px) {
    html {
        font-size: 100px;
    }
}

/*阴影遮罩*/
.shadow{
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.4);
    position: fixed;
    top:0;
    left:0;
}

.shadow .alertBox {
    background: #fff;
    margin: auto 1.65rem;
    border-radius: 10px;
}

.shadow .alertBox span {
    display: block;
}

.shadow .alertBox span.alertMsg {
    padding: 1rem 0.2rem;
    text-align: center;
}

.shadow .confirmBox span.confirmMsg {
    text-align: center;
}

.shadow .alertBox .okBtn {
    width: 100%;
    height: 1.26rem;
    line-height: 1.26rem;
    text-align: center;
    color: #ff8000;
    border-top: 1px solid #dcdcdc;
}

.shadow .confirmBox {
    width: auto;
    height: auto;
    border-radius: 10px;
    background: #fff;
    margin-left: 1.65rem;
    margin-right: 1.65rem;
}

.shadow .confirmBox .contentBox {
    padding: 0.6rem;
}

.shadow .confirmBox .contentBox span {
    display: block;
}

.shadow .confirmBox .contentBox span.confirmTitle {
    text-align: center;
    margin-bottom: 0.3rem;
}

.shadow .confirmBox .okBtn, .confirmBox .cancelBtn {
    width: 50%;
    height: 1.26rem;
    line-height: 1.26rem;
    text-align: center;
    border-top: 1px solid #dcdcdc;
    float: left;
    box-sizing: border-box;
}

.shadow .confirmBox .okBtn {
    color: #ff8000;
}

.shadow .confirmBox .cancelBtn {
    border-left: 1px solid #dcdcdc;
}

.shadow .confirmBox::after {
    content: '';
    display: block;
    clear: both;
}
